<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242040908883-56rb9ldsntsqfdkjs7glrl40m17lb6uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242040908883-56rb9ldsntsqfdkjs7glrl40m17lb6uc</string>
	<key>API_KEY</key>
	<string>AIzaSyAHqduhoRq0_1J-SbOXGK1sg--HvnVZy88</string>
	<key>GCM_SENDER_ID</key>
	<string>242040908883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ingeniousgang.ceapp</string>
	<key>PROJECT_ID</key>
	<string>commodities-exchange-app</string>
	<key>STORAGE_BUCKET</key>
	<string>commodities-exchange-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242040908883:ios:ab2d5ffaa3587451772aa6</string>
</dict>
</plist>